# Ignore everything
*

# Allow tracking of .gitignore itself
!.gitignore

# Allow only specific directories and files
!lib/
!lib/**
!assets/
!assets/**
!pubspec.yaml

# Ensure parent directories are not ignored
!*/

# Ignore build and dependency-related directories/files
**/build/
**/.dart_tool/
**/.idea/
**/.vscode/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/flutter_*.iml
